

.headers-container {
    margin-left: 20px;
}
.inputs-container.country { 
    justify-content: space-between;
    width: 50%;
}

.country-chart-container {
    position: relative; 
    margin: 0 auto;
    width: 100%;
}

#country-chart {
    position: absolute;
    height: 90vh;
}

.country-section .back {
    margin-right: 20px;
}

.chart-type-label {
    border: none;
}