@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
    --primary-color: #151515
}
* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
}

main  {
    height: 100vh;
    width: 90%;
    margin: 0 5%;
    
}

.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

ul {
    list-style: none;
}

.spinner-container {
    position: absolute;
    z-index: 2;
    /* transform: translate(50%,50%); */
    height: 100vh;
    width: 100vw;
}
.spinner {
    animation: spin 2s linear infinite;

}

@keyframes spin {
0% {
    color:hotpink;
    transform: rotate(0);
}
20% {color:indianred;}
40% {color: indigo;}
60% {color: greenyellow;}
80% {color: rebeccapurple;}
100% {
    color: red;
    transform: rotate(360deg);
    }
}

