.world{
    width: 100%;
    height: 100%;
    background-color: #151515;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* animation: scale-up 0.8s linear; */
    /* animation-fill-mode: forwards; */
}
    
.continent {
    cursor: pointer;
    color: white;
    font-weight: 600;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;
}

.continent{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.continent-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #fff;
    transition: .2s;
    transform: scale(0);
}

.show {
    opacity: 1;
    transform: scale(1);
    transition: .3s;
}

.asia {
    background: url('./../assets/images/asia.png') no-repeat center center/contain;
    grid-area: 2 / 5 / 5 / 7; 
}
  
.europe {
    background: url('./../assets/images/europe.png')no-repeat center center/contain;
    grid-area: 2 / 3 / 5 / 5;
}
.africa {
    background: url('./../assets/images/africa.png') no-repeat center center/contain;
    grid-area: 5 / 4 / 7 / 6;
}


.america {
    background: url('./../assets/images/americas.png') no-repeat center center/contain;
    grid-area: 1 / 1 / 8 / 3;
}
.australia {
    background: url('./../assets/images/avstralia.png') no-repeat center center/contain;
    grid-area: 5 / 7 / 7 / 8;

}

@keyframes scale-up {
    0% {
        opacity: 0;
        transform:scale(0);
    }
    100% {
        opacity: 1;
        transform:scale(1.0);
    }
}




  
  

  
  

  
  